.App {
  text-align: center;
}

.App-header {
  position: absolute;
  width:100%;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  position: absolute;
  top: 20vh;
  left: 10vh;
  right: 10vh;
  bottom: 20vh;
  align-items: center;
  background: #ccc;
  border-radius: 10%; 
}